<!DOCTYPE html>
<html lang="en" ng-app="coApp">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script>
			var owner = [null, 'jtuck', 'samy'];
var state = ['Pending', 'Completed', 'Running', 'Accepted', 'Rejected'];
		</script>
		<link href="css/style.css" rel="Stylesheet" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
<div id="wrapper" class="container">
	<div ng-controller="coDataGrabberCtrl">
		<div class="tablewrapper">
		<table cellspacing="10">
		<thead>
		<tr>
			<th>Changelist/Build</th>
			<th>Owner</th>
			<th>Time Started</th>
			<th>State</th>
			<th>Metrics</th>
			<th>Build</th>
			<th>Unit Test</th>
			<th>Functional Test</th>
		</tr>
		</thead>
		<tbody ng-repeat="row in results" ng-controller="shCtrl">
		<tr class="borderless">
			<td colspan="8" class="spacer"></td>
		</tr>
		<tr ng-click="selunsel()" class="{{row.state}} borderbottom0">
		<!--<tr id="{{row.id}}" ng-controller="showHideCtrl as hs" ng-click="hs.expandthis($event, row.id)" class="{{row.state}}">-->
		<!--<tr id="{{row.id}}" ng-controller="showHideCtrl as hs" prev-val="prevval" ng-click="hs.expandthis($index, row.id, $element)" 
		class="{{row.state}} ng-class="{'selected' : hs.num == $index}"> 
<tr ng-click="sel = row.id" class="{{row.state}}" ng-class="row.id === sel ? 'selected' : 'unselected'">
		-->
			<td><span ng-class="row.owner == ''? 'glyphicon glyphicon-align-justify' : 'glyphicon glyphicon-blackboard'"></span> {{ row.id }}</td>
			<td>{{ row.owner }}</td>
			<td>{{ row.time_started | date : 'short' }}</td>
			<td>{{ row.state }}</td>
			<td><div ng-controller="runningCtrl" ng-show="!selunselt" class="min {{row.state}}"><div class="runningbar" style="width:{{divbar}}px"></div></div></td>
			<td>
				<content-boxes>
				<div ng-show="!selunselt" id="{{'build_' + row.id}}" class="min {{row.build}}"></div>
				</content-boxes>
			</td>
			<td><div ng-show="!selunselt" class="min {{row.unit_test.state}}"></div></td>
			<td><div ng-show="!selunselt" class="min {{row.fn_test.state}}"></div></td>
		</tr>
		<tr class="expanderTR {{row.state}}" ng-class="selunselc">
		<td colspan="8">
			<div class="expanderDivWrapper clearfix" ng-show="selunselt">
				<div class="edDivs {{row.state}}">
					<h4>Metrics</h4>
							<div class="row">
		  <div class="col-md-6 arrow-up componentholder">{{row.metrics.test}}</div>
		  <div class="col-md-6 arrow-down componentholder">{{row.metrics.maintainability}}</div>
		</div>
		<div class="row">
		  <div class="col-md-6 componentlabel">Test</div>
		  <div class="col-md-6 componentlabel">Maintainability</div>
		</div>
<br/>
		<div class="row">
		  <div class="col-md-6 arrow-right componentholder">{{row.metrics.security}}</div>
		  <div class="col-md-6 arrow-right componentholder">{{row.metrics.workmanship}}</div>
		</div>
		<div class="row">
		  <div class="col-md-6 componentlabel">Security</div>
		  <div class="col-md-6 componentlabel">Workmanship</div>
		</div>

					<!--
					<div class="clearfix">
						<div class="metricscomponent arrow-up test">{{row.metrics.test}}<p class="complabel">Test</p></div>
						<div class="metricscomponent arrow-down maintainability">{{row.metrics.maintainability}}<p class="complabel">Maintainability</p></div>
					</div>
					-->
				</div>
				
				<div class="edDivs {{row.build}}">
				<h4>Build</h4>
				<div class="row">
		  <div class="col-md-6 build"><span class="glyphicon glyphicon-blackboard"></span></div>
		  <div class="col-md-6 build"><span class="glyphicon glyphicon-blackboard"></span></div>
		</div>

		<div class="row">
		  <div class="col-md-6 build center">Debug</div>
		  <div class="col-md-6 build center">Release</div>
		</div>
		<p class="buildtime">{{row.time_started | date : 'hh:mm a mm/dd/yyyy'}}</p>
				</div>
				
				<div class="edDivs {{row.unit_test.state}}"><h4>Unit Test</h4></div>
				<div class="edDivs {{row.fn_test.state}}"><h4>Functional Test</h4></div>
				
				<div class="edDivs resultDiv">
					<p class="result">Result:</p>
					<p class="rstate {{row.state}}">Change {{row.state}}</p>
					<p class="rresult {{row.state}}">{{row.result}}</p>	
					<div ng-show="row.state == 'Completed'">
					<button type="button" class="btn btn-info">Deploy</button> to <br/><br/>
					<select class="form-control"><option>Production</option><option>Staging</option></select>
					</div>
					<button type="button" class="btn btn-info" ng-show="row.state == 'Rejected'"><span class="glyphicon glyphicon-search"></span> Find Issues</button>
					<button type="button" class="btn btn-info" ng-show="row.state == 'Accepted'"><span class="glyphicon glyphicon-search"></span> Merged Build</button>
				</div>
			</div>
		</td>
		</tr>
		</tbody>
		<!--
		<tbody class="ng-scope">
		<tr class="borderless">
			<td colspan="8" class="spacer"></td>
		</tr>
		<tr class="Accepted selected">
			<td class="ng-binding"><span class="icon-display"></span> 432459</td>
			<td class="ng-binding">samy</td>
			<td class="ng-binding">8/20/16 2:35 PM</td>
			<td class="ng-binding">Accepted</td>
			<td>
				<content-boxes>
				<div id="one" class="Accepted">one</div>
				</content-boxes>
			</td>
			<td><div class="Completed"></div></td>
			<td><div class="Completed"></div></td>
			<td><div class="Completed"></div></td>
		</tr>
		<tr class="expanderTR">
		<td colspan="8">
			
		</td>
		</tr>
		</tbody>-->
		</table>
		</div>
	</div>	
</div>

</body>
</html>
