<!DOCTYPE html>
<html lang="en" ng-app="coApp">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script>
			var owner = [null, 'jtuck', 'samy'];
var state = ['Pending', 'Completed', 'Running', 'Accepted', 'Rejected'];
		</script>
		<link href="css/style.css" rel="Stylesheet" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
<div id="wrapper" class="container">
	<div ng-controller="coDataGrabberCtrl">
		<div class="tablewrapper">
		<table cellspacing="10">
		<thead>
		<tr>
			<th>Changelist/Build</th>
			<th>Owner</th>
			<th>Time Started</th>
			<th>State</th>
			<th>Metrics</th>
			<th>Build</th>
			<th>Unit Test</th>
			<th>Functional Test</th>
		</tr>
		</thead>
		<tbody ng-repeat="row in results">
		<tr class="borderless">
			<td colspan="8" class="spacer"></td>
		</tr>
		<tr ng-click="selunsel()" class="{{row.state}}" ng-class="selunselc" ng-controller="shCtrl">
		<!--<tr id="{{row.id}}" ng-controller="showHideCtrl as hs" ng-click="hs.expandthis($event, row.id)" class="{{row.state}}">-->
		<!--<tr id="{{row.id}}" ng-controller="showHideCtrl as hs" prev-val="prevval" ng-click="hs.expandthis($index, row.id, $element)" 
		class="{{row.state}} ng-class="{'selected' : hs.num == $index}"> 
<tr ng-click="sel = row.id" class="{{row.state}}" ng-class="row.id === sel ? 'selected' : 'unselected'">
		-->
			<td><span ng-class="row.owner == ''? 'glyphicon glyphicon-align-justify' : 'glyphicon glyphicon-blackboard'"></span> {{ row.id }}</td>
			<td>{{ row.owner }}</td>
			<td>{{ row.time_started | date : 'short' }}</td>
			<td>{{ row.state }}</td>
			<td><div ng-controller="runningCtrl" class={{row.state}}><div class="runningbar" style="width:{{divbar}}px"></div></div></td>
			<td><div class={{row.build}}></div></td>
			<td><div class={{row.unit_test.state}}></div></td>
			<td><div class={{row.fn_test.state}}></div></td>
		</tr>
		</tbody>
		<tbody class="ng-scope">
		<tr class="borderless">
			<td colspan="8" class="spacer"></td>
		</tr>
		<tr ng-click="showHide(row)" class="Accepted selected">
			<td class="ng-binding"><span class="icon-display"></span> 432459</td>
			<td class="ng-binding">samy</td>
			<td class="ng-binding">8/20/16 2:35 PM</td>
			<td class="ng-binding">Accepted</td>
			<td><div class="Accepted"></div></td>
			<td><div class="Completed"></div></td>
			<td><div class="Completed"></div></td>
			<td><div class="Completed"></div></td>
		</tr>
		</tbody>
		</table>
		</div>
	</div>	
</div>

</body>
</html>
